* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.advantage {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 90%;
  margin: auto;
  padding: 30px 0;
}

.advantage p {
  color: gray;
  font-size: 18px;
}

.advantage .left {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 70%;
}

.advantage .left .topdiv .upperp {
  color: blue;
  font-weight: 500;
}

.topdiv h3 {
  font-size: 36px;
}

.topdiv .lowerp {
  font-size: 24px;
}
.advantage .left .lowerdiv {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.lowerdiv .divitem {
  width: 40%;
}

.lowerdiv .divitem .ldicon {
  color: blue;
  margin-bottom: 10px;
}

.lowerdiv .divitem h4 {
  margin-bottom: 5px;
}

.lowerdiv .divitem .ldicon {
  background-color: lightgray;
  border-radius: 50%;
}

.advantage .right {
  position: relative;
}

.right .arrow .imgofarrow {
  height: 125px;
  position: absolute;
  top: 44px;
  left: 62px;
  z-index: 999;
}

.bimagescont {
  position: absolute;
  bottom: 0px;
}

.bimagescont img {
  height: 330px;
}

@media (max-width: 1090px) {
  .right .arrow .imgofarrow {
    height: 125px;
    position: absolute;
    top: 130px;
    left: 55px;
    z-index: 999;
  }
  .bimagescont img {
    height: 315px;
  }
  .bimagescont {
    margin-right: 0;
  }
}

@media (max-width: 780px) {
  .advantage {
    flex-direction: column;
    height: auto;
    width: 90%;
    margin: auto;
    margin-bottom: 420px;
  }

  .advantage .left {
    gap: 20px;
    width: 100%;
  }
  .topdiv h3 {
    font-size: 26px;
    margin: 5px 0;
  }
  .topdiv .lowerp {
    font-size: 20px;
  }

  .advantage .left .lowerdiv {
    gap: 20px;
  }

  .lowerdiv .divitem {
    width: 45%;
  }

  .lowerdiv .divitem .ldicon {
    margin-bottom: 5px;
  }

  .lowerdiv .divitem h4 {
    margin-bottom: 5px;
  }

  .advantage .right {
    position: block;
  }

  .right .arrow .imgofarrow {
    height: 125px;
    position: block;
    top: -10px;
    left: 55px;

    z-index: 999;
  }

  .bimagescont {
    position: block;
    top: 10px;
    margin-top: 85px;
  }

  .bimagescont img {
    height: 330px;
    width: 95%;
    object-fit: contain;
  }
}
