.faqs {
  width: 90%;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  display: flex;
  gap: 40px;
}

.faqsleft {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}

.faqsleft a {
  text-decoration: none;
  font-weight: bold;
}

.faqsleft h2 {
  font-size: 30px;
}

.faqsleft p {
  color: gray;
  font-size: 24px;
}

.faqsleft p span a {
  color: gray;
  font-weight: 400;
  text-decoration: underline;
}

.faqsright {
  display: flex;
  flex: 1;
}

.faqsright .faqquestdiv {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 20px 0;
}

.mainfaqdiv {
  position: relative;
}

.faqicon {
  font-size: 24px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: -25px;
  cursor: pointer;
}

/* .bg-gray {
  background-color: gray;
} */

/* .faqanswdiv {
  position: relative;
} */

/* .faqanswdiv .minusicon {
  position: absolute;
  top: -45px;
  right: 10px;
} */

.displayed {
  padding: 10px;
  background-color: lightgrey;
  border-radius: 5px;
}
